button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.buttons {
  margin-top: 10px;
  margin-left: 150px;
}

.buttons .btn {
  margin-right: 5px;
}
