
      <jw-modal id="custom-modal-1">
            <div class="backgroundJw">

              <h4>Creating new station</h4>
              <p>Name: 
                <input type="text" [(ngModel)]="bodyText" /></p>
              <button class="btn btn-success" (click)="save()"><i class="fas fa-check"> Create </i></button>
              <button class="btn btn-danger" (click)="closeModal('custom-modal-1');"><i class="fas fa-window-close"> Close</i></button>
              
            </div>
      </jw-modal>

      <jw-modal id="custom-modal-2">
            <div class="backgroundJw">
                <h4>Creating new line</h4>   
                <p>Name:  <input type="text" [(ngModel)]="bodyText1" />
                </p>
                <button class="btn btn-success" (click)="createLine()"><i class="fas fa-check"> Create </i></button>
                <button class="btn btn-danger" (click)="closeModal('custom-modal-2');"><i class="fas fa-window-close"> Close</i></button>
            </div>
      </jw-modal>
