button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.booking-form {
  background-color: #fff;
  padding: 20px 10px;
  -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.section {
  position: relative;
  height: 100vh;
}

.section .section-center {
  position: absolute;
  top: 40%;
  left: 35%;
  right: 35%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.booking-form .form-group {
  position: relative;
  margin-bottom: 10px;
}

.booking-form .form-control {
  background-color: #ebecee;
  border-radius: 4px;
  border: none;
  height: 35px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #3e485c;
  font-size: 14px;
}

.attent {
  color: red;
  font-size: 15px;
}
