<hr/>
<p> Ticket ids: </p><p *ngFor="let l of ids"> {{l.Id}} | </p>

<br/>
<br/>
<hr/>

<div class="col xs-1 text-center">
        <h5> Check if the ticket is valid:</h5>

            <input type="number" #param>
            <button class="btn btn-sm btn-info" (click)="Valid(param.value)"> <i class="fa fa-search-plus"> Check </i> </button>

            <div *ngIf="show">
                <br/>
                <hr/>
                <table class="table table-responsive-md table-hover table-active">
                            <thead>
                                    <tr>
                                        <th> User ID</th>
                                        <th> Type </th>
                                        <th> Date </th>
                                        <th> Price </th>
                                        <th> Valid </th>
                                    </tr>
                            </thead>

                            <tbody>
                                    <tr>
                                            <td> {{ticket.UserId}} </td>

                                            <td *ngIf="ticket.TicketType=='0'">
                                                    Temporal
                                            </td>

                                            <td *ngIf="ticket.TicketType=='1'">
                                                    Day
                                            </td>

                                            <td *ngIf="ticket.TicketType=='2'">
                                                Month
                                            </td>

                                            <td *ngIf="ticket.TicketType=='3'">
                                                Year
                                            </td>

                                            <td> {{ticket.Date}} </td>
                                        
                                            <td> {{ticket.Price}} </td>

                                            <td *ngIf="ticket.IsValid">
                                                <i class="far fa-thumbs-up"> <b> Valid </b> </i>
                                            </td>

                                            <td *ngIf="!ticket.IsValid">
                                                    <i class="far fa-thumbs-down"> <b>NotValid</b> </i>
                                            </td>
                                    </tr>
                            </tbody>
                        </table>
                </div>
    </div>
