table {
  background-color: beige;
}

.boldovan {
  margin: auto;
  background-color: beige;
}

.redvoznje {
  border-collapse: collapse;
}

sup {
  color: red;
}

button {
  background-color: burlywood;
}
