sup {
  color: red;
}

b {
  float: left;
}

ul {
  float: left;
}

p {
  color: blue;
  font-weight: bolder;
  margin-left: 5px;
  float: left;
}

li {
  float: left;
  list-style-type: none;
  margin-right: 5px;
}
