ul {
  float: left;
}

button {
  background-color: burlywood;
}

agm-map {
  margin-top: 50px;
  margin-left: 20px;
  display: flex;
}

#infowindow span {
  font-size: 16px;
  font-family: "Times New Roman";
  color: gray;
}
