table {
  margin: auto;
  width: 380px;
  height: 200px;
  margin-top: 45px;
  background-color: rgba(0, 0, 0, 0.055);
  border-radius: 20px;
  border: none;
}

select {
  width: 120px;
  font-size: medium;
}
