    <div id="booking" class="section">      
        <div class="section-center">                      
                    <div class="booking-form">
                      <form [formGroup]="loginUserForm" (submit)="onSubmit()" novalidate>

                          <div class="form-group">
                              <span class="form-label">Your Email</span>
								            	<input class="form-control" type="text" name="Email" id="Email" formControlName="Email" placeholder="Email">
                              <span *ngIf="loginUserForm.controls.Email.touched">
                                <small *ngIf="loginUserForm.controls.Email.errors?.required">
                                        <div class="attent">
                                            Email is required!
                                         </div>
                                </small>
                            </span>

                          </div>

                          <div class="form-group">
                              <span class="form-label">Your Password</span>
								            	<input class="form-control" type="password" name="Password" id="Password" formControlName="Password" placeholder="Enter your password">
                                <span *ngIf="loginUserForm.controls.Password.touched">
                                  <small *ngIf="loginUserForm.controls.Password.errors?.required">
                                    <div class="attent">
                                     Password is required!
                                    </div>
                                 </small>
                              </span>

                          </div>

                          <div class="form-btn">
                              <button class="btn btn-block btn-primary" type="submit" [disabled]="loginUserForm.invalid"> Login
                              </button>

                          </div>                     
                      </form>   
                      <label class="account"> Not have an account? </label>   
                      <label routerLink="/signIn/register"> Create one here </label>                                   
                 </div>                                    
        </div>
    </div>  
