    <div id="booking" class="section">      
        <div class="section-center">                      
                    <div class="booking-form">
                      <form [formGroup]="loginUserForm" (submit)="onSubmit()" novalidate>

                          <div class="form-group">
                              <span class="form-label">Your Username</span>
								            	<input class="form-control" type="text" name="Username" id="Username" formControlName="Username" placeholder="Username">
                              <span *ngIf="loginUserForm.controls.Username.touched">
                                <small *ngIf="loginUserForm.controls.Username.errors?.required">
                                        <div class="attent">
                                                Username is required!
                                         </div>
                                </small>
                            </span>

                          </div>

                          <div class="form-group">
                              <span class="form-label">Your Password</span>
								            	<input class="form-control" type="password" name="Password" id="Password" formControlName="Password" placeholder="Enter your password">
                                <span *ngIf="loginUserForm.controls.Password.touched">
                                  <small *ngIf="loginUserForm.controls.Password.errors?.required">
                                    <div class="attent">
                                     Password is required!
                                    </div>
                                 </small>
                              </span>

                          </div>

                          <div class="form-btn">
                              <button class="btn btn-block btn-primary" type="submit" [disabled]="loginUserForm.invalid"> Login
                              </button>

                          </div>                     
                      </form>   
                      <label style="margin-top:25px"> Not have an account? </label>   
                      <button class="btn btn-sm" style="color:blue" routerLink="/signIn/register"> Create one here </button>                                   
                 </div>                                    
        </div>
    </div>  
