<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top" style="height: 40px">
   

  <div class="navbar-collapse collapse hide">
      <ul class="nav navbar-nav ml-auto" style="font-size: 15px ">
        
        <div *ngIf="isAdmin()">
          <li class="nav-item">
            <a routerLink="/timetable-admin" class="nav-link" >Time Table</a>
          </li>
         </div>

         <div *ngIf="!isAdmin()">
          <li class="nav-item">
            <a routerLink="/timetable" class="nav-link" >Time Table</a>
          </li>
         </div>

         <div *ngIf="isAdmin()">
          <li class="nav-item ">
            <a routerLink="/lines-admin" class="nav-link">Lines</a>
          </li>
         </div>

         <div *ngIf="!isAdmin()">
          <li class="nav-item ">
            <a routerLink="/lines" class="nav-link">Lines</a>
          </li>
         </div>

        <li class="nav-item">
          <a routerLink="/vehicles" class="nav-link" >Current vehicles</a>
        </li>

        <div *ngIf="!isAdmin()">
          <li class="nav-item">
            <a routerLink="/pricelist" class="nav-link">Pricelist</a>
          </li>
        </div>

        <div *ngIf="isAdmin()">
          <li class="nav-item">
            <a routerLink="/pricelist-admin" class="nav-link">Pricelist</a>    
          </li>
         </div>

        <div *ngIf="isController()">
            <li class="nav-item">
                <a routerLink="/verify" class="nav-link" >Verify</a>
            </li>
        </div>
        <div *ngIf="isController()">
            <li class="nav-item">
              <a routerLink="/validate" class="nav-link" >Validate</a>
          </li>
        </div>
      
      </ul>

      <ul class="nav navbar-nav ml-auto" style="margin-right: 20px;">
        <li class="nav-item" style="margin-right: 30px" *ngIf="showLogIn()">
          <a class="nav-link" routerLink="/register"><i class="fas fa-user">Register</i> </a>
        </li>
        <li class="nav-item" style="margin-right: 30px" *ngIf="showLogOut()">
            <a class="nav-link" routerLink="/editprofile"><i class="fa fa-user">Edit Profile</i></a>
        </li>

        <li class="nav-item" *ngIf="showLogIn()">
          <a class="nav-link" routerLink="/login"> <i class="fas fa-sign-in-alt"> Login</i> </a>
        </li>
        <li class="nav-item" *ngIf="showLogOut()">
          <a class="nav-link" (click)="callLogout()"><i class="fas fa-sign-out-alt"> Log out</i></a>
        </li>
      </ul>
    </div>
  </nav>
