table {
  margin: auto;
  height: 20px;
  font-size: large;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

form {
  width: 350px;
}

td {
  font-size: medium;
}

td input {
  height: 20px;
  font-size: 12px;
}
