<div *ngIf="edit" class="edit">
            <form #f="ngForm" enctype="multipart/form-data" ngNativeValidate>
              <label>Line</label><br />
              <label>Name:</label>
              <input type="text" id="name" name="fname" [(ngModel)]="lineEdit.Name">
              <button class="btn btn-default btn-sm btn-secondary" (click)="UpdateLine()"> <i class="fa fa-edit"> Edit </i> </button>
            </form>
</div>
          
    <div *ngIf="editStation" class="edit">
            <form #f="ngForm" enctype="multipart/form-data" ngNativeValidate>
              <label >Station</label><br/>
              <label>
                Name:
                <input type="text" name="names" [(ngModel)]="stationEdit.Name">
              </label>
              <label>
                Address:
                <input type="text"  name="add" [(ngModel)]="stationEdit.Address">
              </label>
              <label>
                Coordinate X:
                <input type="text" name="cooX" [(ngModel)]="stationEdit.CoordinateX">
              </label>
              <label>
                Coordinate Y:
                <input type="text" name="cooY"  [(ngModel)]="stationEdit.CoordinateY">
              </label> <br>

              <button class="btn btn-default btn-sm btn-secondary" (click)="UpdateStation()" type="button"> <i class="fa fa-edit"> Edit </i> </button>
              <button class="btn btn-default btn-sm btn-danger" (click)="deleteStation()" type="button"><i class="fa fa-trash"> Delete </i></button>
            </form>
           
 </div>
