button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

input[type="file"] {
  display: none;
}

label {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 10px 15px;
}

label:hover {
  cursor: pointer;
  color: green;
}

button {
  margin-right: 10px;
}
