.payPal {
  text-align: center;
  height: 70px;
  width: 500px;
  margin-left: 50px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.055);
}

input[type="radio"]:disabled {
  cursor: not-allowed;
}

label {
  margin-right: 15px;
  font-weight: bolder;
}

h4 {
  text-align: center;
  font-weight: bolder;
}
