<div class="payPal">
    <h4> Or buy it <i> safer </i> way with <span style="color: #1f4068;">PayPal</span>: </h4>
             <label>
                    <input type="radio" [disabled]="priceTemporal==undefined" name="paypalButtons" (click)="paypalHour()">Temporal
             </label>
            <label>
                   <input type="radio" [disabled]="priceDay==undefined" name="paypalButtons" (click)="paypalDay()">Day
            </label>
            <label >
                   <input type="radio" [disabled]="priceMonth==undefined"   name="paypalButtons" (click)="paypalMonth()">Month
            </label>
           <label >
                  <input type="radio" [disabled]="priceYear==undefined"  name="paypalButtons" (click)="paypalYear()">Year
           </label>
</div>

<div [hidden]="!paypalchecked" #paypal style="margin-left: 150px;width:300px;height:150px"></div>

