<br/>
<hr/>
  <div class="row">

  <div class="col col-md-4">

          <h4 *ngIf="status=='InProgress'"> 
            Your status: <i class="fas fa-spinner"> In progress</i>
            <hr/>
          </h4>

          <h4 *ngIf="status=='Approved'"> 
              Your status: <i class="far fa-thumbs-up">Approved</i>
              <hr/>
          </h4>

          <h4 *ngIf="status=='Denied'"> 
            Your status: <i class="far fa-thumbs-down">Denied</i>
            <hr/>
          </h4>

    </div>
       <div class="col col-md-5">
            <div class="booking-form">
                <form [formGroup]="registerUserForm" (submit)="onSubmit()" novalidate>
                    <div class="form-group">
                        <span class="form-label"> Name: </span>
                        <input class="form-control" type="text" name="Name" [(ngModel)]="user.Name" value="{{user.Name}}" id="Name" formControlName="Name" placeholder="Name">
                        <div *ngIf="f.Name.invalid && (f.Name.dirty || f.Name.touched)">
                            <div class="text-danger" *ngIf="f.Name.errors.required">
                              Name is Required!
                            </div>
                          </div>
                    </div>

                    <div class="form-group">
                        <span class="form-label">Last Name: </span>
                        <input class="form-control" type="text" name="LastName" [(ngModel)]="user.LastName" value="{{user.LastName}}" id="LastName" formControlName="LastName" placeholder="Last Name">
                        <span *ngIf="registerUserForm.controls.LastName.touched">
                                <small *ngIf="registerUserForm.controls.LastName.errors?.required">
                                        <div class="attent">
                                                Lastname is required!
                                        </div>
                                </small>
                            </span>
                    </div>


                    <div class="form-group">
                        <span class="form-label">Date of Birth: </span>
                        <input class="form-control" type="date" name="DateOfBirth" [(ngModel)]="user.DateOfBirth" value="{{user.DateOfBirth}}" id="DateOfBirth" formControlName="DateOfBirth" placeholder="Date of Birth">
                        <span *ngIf="registerUserForm.controls.DateOfBirth.touched">
                                <small *ngIf="registerUserForm.controls.DateOfBirth.errors?.required">
                                        <div class="attent">
                                                Date of birth is required!
                                        </div>
                                </small>
                            </span>
                    </div>
                    

                    <div class="form-group">
                        <span class="form-label"> Email: </span>
                        <input class="form-control" name="Email" [(ngModel)]="user.Email" value="{{user.Email}}" id="Email" formControlName="Email" placeholder="Email">
                        <div *ngIf="f.Email.invalid && (f.Email.dirty || f.Email.touched)">
                            <div class="text-danger" *ngIf="f.Email.errors.required">
                                Email is Required!
                            </div>
                            <div class="text-danger" *ngIf="f.Email.errors.email">
                              Must have @ !
                            </div>
                          </div>
                    </div>


                    <div class="form-group">
                        <span class="form-label"> Password: </span>
                        <input class="form-control" type="password" name="Password" [(ngModel)]="user.Password" value="{{user.Password}}" id="Password" formControlName="Password" placeholder="Password">
                        <div *ngIf="f.Password.invalid && (f.Password.dirty || f.Password.touched)">
                            <div class="text-danger" *ngIf="f.Password.errors.required">
                                Password is Required!
                            </div>
                            <div class="text-danger" *ngIf="f.Password.errors.minlength">
                                Must have 8 characters!
                              </div>
                              <div class="text-danger" *ngIf="f.Password.errors.hasNumber">
                                Must have number!
                              </div>
                              <div class="text-danger" *ngIf="f.Password.errors.hasCapitalCase">
                                Must have Capitala Case!
                              </div>
                              <div class="text-danger" *ngIf="f.Password.errors.hasSmallCase">
                                Must have Small Case!
                              </div>
                              <div class="text-danger" *ngIf="f.Password.errors.hasSpecialCharacters">
                                Must have Special Character!
                              </div>
                          </div>
                    </div>

                    <div class="form-group">
                        <span class="form-label"> Confirm Password: </span>
                        <input class="form-control" type="password" name="ConfirmPassword" [(ngModel)]="user.ConfirmPassword" value="{{user.ConfirmPassword}}" id="ConfirmPassword" formControlName="ConfirmPassword" placeholder="ConfirmPassword">
                        <div *ngIf="f.ConfirmPassword.invalid && (f.ConfirmPassword.dirty || f.ConfirmPassword.touched)">
                            <div class="text-danger" *ngIf="f.ConfirmPassword.errors.required">
                                ConfirmPassword is Required!
                            </div>
                            <div class="text-danger" *ngIf="f.ConfirmPassword.errors?.MatchPassword">Password not match </div>
                            <div class="text-danger">Password not matched!</div>

                          </div>
                    </div>

                    <div class="form-group">
                        <span class="form-label">Address: </span>
                        <input class="form-control" type="text" name="Address" [(ngModel)]="user.Address" value="{{user.Address}}" id="Address" formControlName="Address" placeholder="Address">
                        <span *ngIf="registerUserForm.controls.Address.touched">
                                <small *ngIf="registerUserForm.controls.Address.errors?.required">
                                        <div class="attent">
                                            Address is required!
                                        </div>
                                </small>
                            </span>
                    </div>


                    <div class="form-group" *ngIf="user.Type!==null">
                      <span class="form-label">Phone Number: </span>
                      <input class="form-control" type="tel" name="PhoneNumber" id="PhoneNumber" formControlName="PhoneNumber" placeholder="PhoneNumber">
                      <span *ngIf="registerUserForm.controls.PhoneNumber.touched">
                              <small *ngIf="registerUserForm.controls.PhoneNumber.errors?.required">
                                      <div class="attent">
                                        PhoneNumber is required!
                                      </div>
                              </small>
                          </span>
                  </div>

                    <div class="form-group" *ngIf="user.Type!==null">
                        <span class="form-label">Type: </span>

                          <select  placeholder="Type of user" [(ngModel)]="user.Type" value="{{user.Type}}"  id="Type" formControlName="Type" required>
                            <option value="Regular">Regular</option>
                            <option value="Student">Student</option>
                            <option value="Pensioner">Pensioner</option>
                          </select>
                          <div *ngIf="f.Type.invalid && (f.Type.dirty || f.Type.touched)">
                            <div class="text-danger" *ngIf="f.Type.errors.required">
                              Type is Required!
                            </div>
                          </div>
                      </div>
                      <div class="col text-center">
                        <button class="btn btn-default btn-block btn-info" type="submit"  [disabled]="registerUserForm.invalid"> <i class="fa fa-edit"> Edit</i>
                        </button>  
                      </div>                         
                </form>
            </div>
        </div>
    </div>