<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top" style="height: 40px">
   

  <div id="navb" class="navbar-collapse collapse hide">
      <ul class="nav navbar-nav ml-auto" style="font-size: 15px ">
        
        <div *ngIf="isAdmin()">
          <li class="nav-item">
            <a routerLink="/timetable-admin" class="nav-link" >Time Table</a>
          </li>
         </div>

         <div *ngIf="!isAdmin()">
          <li class="nav-item">
            <a routerLink="/timetable" class="nav-link" >Time Table</a>
          </li>
         </div>

         <div *ngIf="isAdmin()">
          <li class="nav-item ">
            <a routerLink="/lines-admin" class="nav-link">Lines</a>
          </li>
         </div>

         <div *ngIf="!isAdmin()">
          <li class="nav-item ">
            <a routerLink="/lines" class="nav-link">Lines</a>
          </li>
         </div>

        <li class="nav-item">
          <a routerLink="/vehicles" class="nav-link" >Current vehicles</a>
        </li>
        <li class="nav-item">
          <a routerLink="/pricelist" class="nav-link">Pricelist</a>
        </li>

        <div *ngIf="isController()">
            <li class="nav-item">
                <a routerLink="/verify" class="nav-link" >Verify</a>
            </li>

            <li class="nav-item">
              <a routerLink="/validate" class="nav-link" >Validate</a>
          </li>
        </div>
      </ul>

      <ul class="nav navbar-nav ml-auto" style="margin-right: 20px;">
        <li class="nav-item" style="margin-right: 30px" *ngIf="showLogIn()">
          <a class="nav-link" routerLink="/register"><span class="fas fa-user"></span> Register</a>
        </li>
        <li class="nav-item" style="margin-right: 30px" *ngIf="showLogOut()">
            <a class="nav-link" routerLink="/editprofile"><span class="fas fa-user"></span>Edit Profile</a>
        </li>

        <li class="nav-item" *ngIf="showLogIn()">
          <a class="nav-link" routerLink="/login"><span class="fas fa-sign-in-alt"></span> Login</a>
        </li>
        <li class="nav-item" *ngIf="showLogOut()">
          <a class="nav-link" (click)="callLogout()"><span class="fas fa-sign-in-alt"></span>Log out</a>
        </li>
      </ul>
    </div>
  </nav>
