<div class="table-responsive-md">
            <table class="table table-hover table-grey">
                <tr>
                    <td>        
                        <input type="radio" name="line" value="City lines" (click)="onCity()"/>
                        <span> City line</span>
                    </td>

                    <td>        
                        <input type="radio" name="line" value="Suburban lines" (click)="onSuburban()"/>
                        <span> Suburban line</span>
                    </td>   
                 </tr>
                
                <tr>
                    <td >        
                        <select *ngIf="suburban || city" (click)="checkDay($event.target.value)">
                            <option *ngFor="let day of days" > {{day}} </option>
                        </select>
                    </td>
                 </tr>

            <div *ngIf="city || suburban"> 
                <tr>    
                    <td >       
                            <select *ngIf="city" (click)="onItemChange($event.target.value)">
                                    <option disabled selected value> -- select a line -- </option>
                                    <option *ngFor="let line of cityLines" > {{line.LineId}} </option>
                            </select>
                 
                            <select *ngIf="suburban" (click)="onItemChange($event.target.value)">
                                <option disabled selected value> -- select a line -- </option>
                                <option *ngFor="let line of subLines" > {{line.LineId}} </option>
                            </select>      
                         
                     </td>
                 </tr>
            </div>

        </table>    
    </div>       
        
        <div class="col text-center">     
            <button class="btn btn-default" (click)="Show()"> Show timetable</button>
         </div>

        <div class="boldovan" *ngIf="showTT">
            <b> Line: {{line}} </b>
                <table>

                    <th>
                        Hours
                    </th>

                    <th>
                        Minutes
                    </th>
                    
                   <tr *ngFor="let h of hours ; let i = index">
                       <td>
                          {{hours[i]}}
                       </td>
                       <td>
                           {{minutes[i]}}
                       </td>
                   </tr>
           
                </table>
        </div>


    
