            <table class="table table-responsive-md table-hover table-active">
                <tr>
                    <td>        
                        <input type="radio" name="line" value="City lines" (click)="onCity()"/>
                        <span> City line</span>
                    </td>

                    <td>        
                        <input type="radio" name="line" value="Suburban lines" (click)="onSuburban()"/>
                        <span> Suburban line</span>
                    </td>   
                 </tr>
                
                <tr *ngIf="suburban || city" >
                    <td >        
                        <select (change)="checkDay($event.target.value)">
                            <option *ngFor="let day of days" > {{day}} </option>
                        </select>
                    </td>
                 </tr>
                <tr *ngIf="city || suburban">    
                    <td>       
                            <select *ngIf="city" (change)="onItemChange($event.target.value)">
                                    <option disabled selected value>-select a line-</option>
                                    <option *ngFor="let line of cityLines" > {{line.Name}} </option>
                            </select>
                 
                            <select *ngIf="suburban" (change)="onItemChange($event.target.value)">
                                <option  disabled selected value>-select a line- </option>
                                <option *ngFor="let line of subLines" > {{line.Name}} </option>
                            </select>      
                         
                     </td>
                 </tr>
                 <tr *ngIf="showTT && !admin">    
                    <td>
                            <app-show-timetable [timetable]="timetable"> </app-show-timetable>
                    </td>
                 </tr>

        </table>    
        
        <div *ngIf="!admin">
            <div class="col text-center">   
                <button class="btn btn-sm btn-info" (click)="Show()" [hidden]="showTT">  <i class="fa fa-search-plus"> Show timetable</i></button>
            </div>
        </div>
