<br/>
<hr/>

<div class="row">
    <div class="col col-xs-1">
    <table class="table table-responsive-md table-hover table-active">
                    <tr>

            
                    <th>
                    User ID
                    </th>
                    <th>
                    Name
                    </th>
                    <th>
                    LastName
                    </th>

                    <th>
                    Email
                    </th>

                    <th>
                    Address
                    </th>
                    <th>
                    Type
                    </th>

                    <th>
                    Proof
                    </th>
                    </tr>


                    <tr *ngFor="let user of unapprovedUsers">
                            <td>
                                    {{user.Id}}
                            </td>

                            <td>
                                {{user.Name}}
                            </td>

                            <td>
                                {{user.LastName}}

                            </td>

                            <td>
                                {{user.Email}}

                            </td>

                            <td>
                                {{user.Address}}

                            </td>

                            <td>
                                {{user.Type}}

                            </td>

                            <td>
                            <img [src]="user.ImageUrl" height="80">
                            </td>

                            <td>
                                <button class="btn btn-sm btn-success" (click)="approveUser(user)"><i class="fas fa-check"> Approve </i></button>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-danger" (click)="refuseUser(user)"> <i class="fas fa-window-close"> Refuse </i> </button>
                            </td>
                        
                    </tr>
        </table>
    </div>
</div>